
@{
    ViewData["Title"] = "AddBook";
}

<div class="container my-5">
    <div class="row">
        <div class="col-6 offset-3">
            <form method="post" asp-action="AddBook" class="form-control">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center text-primary">Enter Book Details</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <input class="form-control m-1" name="name" type="text" placeholder="Enter book name" />
                        </div>
                        <div>
                            <input class="form-control m-1" name="price" type="text" placeholder="Enter book price" />
                         </div>
                        <div>
                            <input class="form-control m-1" name="image" type="text" placeholder="Enter book image name" />
                        </div>
                        <div>
                            <input class="form-control m-1" name="authorName" type="text" placeholder="Enter author name" />
                        </div>
                        <div>
                            <select name="genreId" class="form-control m-1">
                                <option value="">Select Genre</option>
                                <option value="1">Adventure</option>
                                <option value="2">Science fiction</option>
                                <option value="3">Romance</option>
                                <option value="4">Horror</option>
                            </select>
                         </div>
                        
                        <input type="submit" value="Submit" class="btn btn-sm btn-success float-end m-1"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
